<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #customerInvoiceStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="customerInvoiceStatus.id">{{l("EditCustomerInvoiceStatus")}}</span>
                        <span *ngIf="!customerInvoiceStatus.id">{{l("CreateNewCustomerInvoiceStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="CustomerInvoiceStatus_Status">{{l("Status")}} *</label>
									<input type="text" id="CustomerInvoiceStatus_Status" class="form-control" [(ngModel)]="customerInvoiceStatus.status" name="Status"     required/>
								</div>
					
								<div class="form-group">
									<label for="CustomerInvoiceStatus_Description">{{l("Description")}} *</label>
									<input type="text" id="CustomerInvoiceStatus_Description" class="form-control" [(ngModel)]="customerInvoiceStatus.description" name="Description"     required/>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!customerInvoiceStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>