<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #maintenanceStepForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="maintenanceStep.id">{{l("EditMaintenanceStep")}}</span>
                        <span *ngIf="!maintenanceStep.id">{{l("CreateNewMaintenanceStep")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div *ngIf="maintenancePlanId == 0" class="form-group m-form__group">
                        <label for="MaintenancePlanSubject">{{l("MaintenancePlan")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="MaintenancePlanSubject" name="maintenancePlanSubject" [(ngModel)]="maintenancePlanSubject" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectMaintenancePlanModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setMaintenancePlanIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="maintenanceStep.maintenancePlanId" [(ngModel)]="maintenanceStep.maintenancePlanId" type="text" hidden>
		 
					<div class="form-group m-form__group">
                        <label for="ItemTypeType">{{l("ItemType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ItemTypeType" name="itemTypeType" [(ngModel)]="itemTypeType" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectItemTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setItemTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="maintenanceStep.itemTypeId" [(ngModel)]="maintenanceStep.itemTypeId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="WorkOrderActionAction">{{l("WorkOrderAction")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="WorkOrderActionAction" name="workOrderActionAction" [(ngModel)]="workOrderActionAction" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectWorkOrderActionModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setWorkOrderActionIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="maintenanceStep.workOrderActionId" [(ngModel)]="maintenanceStep.workOrderActionId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="MaintenanceStep_Comments">{{l("Comments")}}</label>
									<input type="text" #MaintenanceStep_Comments="ngModel" id="MaintenanceStep_Comments" class="form-control" [(ngModel)]="maintenanceStep.comments" name="Comments"    />
								    <validation-messages [formCtrl]="MaintenanceStep_Comments"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="MaintenanceStep_Quantity">{{l("Quantity")}}</label>
									<input type="number" #MaintenanceStep_Quantity="ngModel" id="MaintenanceStep_Quantity" class="form-control" [(ngModel)]="maintenanceStep.quantity" name="Quantity"   />
									<validation-messages [formCtrl]="MaintenanceStep_Quantity"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="MaintenanceStep_Cost">{{l("Cost")}}</label>
									<input type="number" #MaintenanceStep_Cost="ngModel" id="MaintenanceStep_Cost" class="form-control" [(ngModel)]="maintenanceStep.cost" name="Cost"   />
									<validation-messages [formCtrl]="MaintenanceStep_Cost"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="MaintenanceStep_Price">{{l("Price")}}</label>
									<input type="number" #MaintenanceStep_Price="ngModel" id="MaintenanceStep_Price" class="form-control" [(ngModel)]="maintenanceStep.price" name="Price"   />
									<validation-messages [formCtrl]="MaintenanceStep_Price"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!maintenanceStepForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<maintenanceStepMaintenancePlanLookupTableModal #maintenanceStepMaintenancePlanLookupTableModal (modalSave)="getNewMaintenancePlanId()"></maintenanceStepMaintenancePlanLookupTableModal>
		 <maintenanceStepItemTypeLookupTableModal #maintenanceStepItemTypeLookupTableModal (modalSave)="getNewItemTypeId()"></maintenanceStepItemTypeLookupTableModal>
		 <maintenanceStepWorkOrderActionLookupTableModal #maintenanceStepWorkOrderActionLookupTableModal (modalSave)="getNewWorkOrderActionId()"></maintenanceStepWorkOrderActionLookupTableModal>
		 
</div>