<div [@routerTransition]>
  <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  
  
                <div class="kt-subheader kt-grid__item">
                  <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("MaintenanceSteps")}}</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("MaintenanceStepsHeaderInfo")}}
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
            				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Administration.MaintenanceSteps.Create')" (click)="createMaintenanceStep()" 
            			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewMaintenanceStep")}}</button>
                        </div>
                    </div>
                  </div>
                </div>
            
    
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getMaintenanceSteps()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="CommentsFilter">{{l("Comments")}}</label>
									<input type="text" class="form-control" id="CommentsFilter" name="commentsFilter" [(ngModel)]="commentsFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinQuantityFilter">{{l("MinMax")}} {{l("Quantity")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinQuantityFilter" [(ngModel)]="minQuantityFilter" placeholder="{{l('MinValue')}}" name="minQuantityFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxQuantityFilter" placeholder="{{l('MaxValue')}}" name="maxQuantityFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinCostFilter">{{l("MinMax")}} {{l("Cost")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinCostFilter" [(ngModel)]="minCostFilter" placeholder="{{l('MinValue')}}" name="minCostFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxCostFilter" placeholder="{{l('MaxValue')}}" name="maxCostFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinPriceFilter">{{l("MinMax")}} {{l("Price")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinPriceFilter" [(ngModel)]="minPriceFilter" placeholder="{{l('MinValue')}}" name="minPriceFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxPriceFilter" placeholder="{{l('MaxValue')}}" name="maxPriceFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="MaintenancePlanSubjectFilter">({{l("MaintenancePlan")}}) {{l("Subject")}}</label>
									<input type="text" class="form-control" id="MaintenancePlanSubjectFilter" name="maintenancePlanSubjectFilter" [(ngModel)]="maintenancePlanSubjectFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ItemTypeTypeFilter">({{l("ItemType")}}) {{l("Type")}}</label>
									<input type="text" class="form-control" id="ItemTypeTypeFilter" name="itemTypeTypeFilter" [(ngModel)]="itemTypeTypeFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WorkOrderActionActionFilter">({{l("WorkOrderAction")}}) {{l("Action")}}</label>
									<input type="text" class="form-control" id="WorkOrderActionActionFilter" name="workOrderActionActionFilter" [(ngModel)]="workOrderActionActionFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getMaintenanceSteps($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.MaintenanceSteps.Edit', 'Pages.Administration.MaintenanceSteps.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="maintenancePlanFk.subject">
                                        {{l('Subject')}}
                                        <p-sortIcon field="maintenancePlanSubject"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="itemTypeFk.type">
                                        {{l('Type')}}
                                        <p-sortIcon field="itemTypeType"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="workOrderActionFk.action">
                                        {{l('Action')}}
                                        <p-sortIcon field="workOrderActionAction"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="comments">
                                        {{l('Comments')}}
                                        <p-sortIcon field="maintenanceStep.comments"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="quantity">
                                        {{l('Quantity')}}
                                        <p-sortIcon field="maintenanceStep.quantity"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cost">
                                        {{l('Cost')}}
                                        <p-sortIcon field="maintenanceStep.cost"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="price">
                                        {{l('Price')}}
                                        <p-sortIcon field="maintenanceStep.price"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.MaintenanceSteps.Edit', 'Pages.Administration.MaintenanceSteps.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" 
														(click)="viewMaintenanceStepModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.MaintenanceSteps.Edit')" 
														(click)="createOrEditMaintenanceStepModal.show(record.maintenanceStep.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a  href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.MaintenanceSteps.Delete')"
														(click)="deleteMaintenanceStep(record.maintenanceStep)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Subject')}}</span>
												{{record.maintenancePlanSubject}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Type')}}</span>
												{{record.itemTypeType}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Action')}}</span>
												{{record.workOrderActionAction}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Comments')}}</span>
											{{record.maintenanceStep.comments}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Quantity')}}</span>
											{{record.maintenanceStep.quantity}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Cost')}}</span>
											{{record.maintenanceStep.cost}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Price')}}</span>
											{{record.maintenanceStep.price}}
										</td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getMaintenanceSteps($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditMaintenanceStepModal #createOrEditMaintenanceStepModal (modalSave)="getMaintenanceSteps()"></createOrEditMaintenanceStepModal>    
    <viewMaintenanceStepModal #viewMaintenanceStepModal></viewMaintenanceStepModal>
    
  </div>
</div>
