<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Comments")}} :</h6>
                        {{ item.maintenanceStep.comments }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Quantity")}} :</h6>
                        {{ item.maintenanceStep.quantity }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Cost")}} :</h6>
                        {{ item.maintenanceStep.cost }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Price")}} :</h6>
                        {{ item.maintenanceStep.price }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("MaintenancePlan")}}) {{l("Subject")}} :</h6>
                        {{item.maintenancePlanSubject}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("ItemType")}}) {{l("Type")}} :</h6>
                        {{item.itemTypeType}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("WorkOrderAction")}}) {{l("Action")}} :</h6>
                        {{item.workOrderActionAction}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
