<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #assetOwnershipForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="assetOwnership.id">{{l("EditAssetOwnership")}}</span>
                        <span *ngIf="!assetOwnership.id">{{l("CreateNewAssetOwnership")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="AssetReference">{{l("Asset")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetReference" name="assetReference" [(ngModel)]="assetReference" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="assetOwnership.assetId" [(ngModel)]="assetOwnership.assetId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="AssetOwnerName">{{l("AssetOwner")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetOwnerName" name="assetOwnerName" [(ngModel)]="assetOwnerName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetOwnerModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetOwnerIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="assetOwnership.assetOwnerId" [(ngModel)]="assetOwnership.assetOwnerId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="AssetOwnership_StartDate">{{l("StartDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'MMM DD, YYYY' }" [(ngModel)]="startDate" id="AssetOwnership_StartDate" name="AssetOwnership_StartDate">
								</div>
					
								<div class="form-group">
									<label for="AssetOwnership_FinishDate">{{l("FinishDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'MMM DD, YYYY' }" [(ngModel)]="finishDate" id="AssetOwnership_FinishDate" name="AssetOwnership_FinishDate">
								</div>
					
								<div class="form-group">
									<label for="AssetOwnership_PercentageOwnership">{{l("PercentageOwnership")}}</label>
									<input type="number" id="AssetOwnership_PercentageOwnership" class="form-control" [(ngModel)]="assetOwnership.percentageOwnership" name="PercentageOwnership"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!assetOwnershipForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<assetOwnershipAssetLookupTableModal #assetOwnershipAssetLookupTableModal (modalSave)="getNewAssetId()"></assetOwnershipAssetLookupTableModal>
		 <assetOwnershipAssetOwnerLookupTableModal #assetOwnershipAssetOwnerLookupTableModal (modalSave)="getNewAssetOwnerId()"></assetOwnershipAssetOwnerLookupTableModal>
		 
</div>