<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("WorkOrder")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{ workOrder.subject }}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="close()" class="btn btn-outline-dark"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
                        <!--<button *ngIf="isGranted('Pages.Main.WorkOrders.Edit')" (click)=createOrEditWorkOrderModal.show(workOrder.id)
                                class="btn btn-primary blue">
                            <i class="fa fa-pen"></i> {{l("EditWorkOrder")}}
                        </button>-->
                        <div class="btn-group dropdown" dropdown container="body"
                             [hidden]="!isGrantedAny('Pages.Main.WorkOrders.Edit', 'Pages.Main.WorkOrders.Delete', 'Pages.Main.Quotations.Create', 'Pages.Main.Estimates.Create', 'Pages.Main.CustomerInvoices.Create')">
                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                            </button>
                            <ul class="dropdown-menu" *dropdownMenu>
                                <li>
                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.WorkOrders.Edit')"
                                       (click)="createOrEditWorkOrderModal.show(workOrder.id)">{{l('Edit')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.WorkOrders.Edit') && workOrderStatusStatus != 'Completed'"
                                       (click)="setWorkOrderStatusComplete(workOrder)">{{l('Job Complete')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.WorkOrders.Delete')"
                                       (click)="deleteWorkOrder(workOrder)">{{l('Delete')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                       (click)="showWoHistory(workOrder)">{{l('History')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Quotations.Create')"
                                       (click)="createQuotation(workOrder.id)">{{l('NewQuotation')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Estimates.Create')"
                                       (click)="createEstimate(workOrder.id)">{{l('NewEstimate')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.CustomerInvoices.Create')"
                                       (click)="createCustomerInvoice(workOrder.id)">{{l('NewInvoice')}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <tabset>

                        <tab heading="{{'Work Order' | localize}}">

                            <div class="row align-items-center">
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <h6>{{l("ID")}} :</h6>
                                        WO-{{ workOrder.id }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Asset")}} :</h6>
                                        {{assetDisplayName}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Subject")}} :</h6>
                                        {{ workOrder.subject }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Description")}} :</h6>
                                        {{ workOrder.description }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Remarks")}} :</h6>
                                        {{ workOrder.remarks }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Status")}} :</h6>
                                        {{ workOrderStatus }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("WorkOrderType")}} :</h6>
                                        {{workOrderType}}
                                    </div>

                                    <div class="col-6 mb-3">
                                        <h6>{{l("StartDate")}} :</h6>
                                        {{ workOrder.startDate | momentFormat:'ll LT' }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("EndDate")}} :</h6>
                                        {{ workOrder.endDate | momentFormat:'ll LT' }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("AssignedTo")}} :</h6>
                                        {{userName}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Location")}} :</h6>
                                        {{ workOrder.location }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Priority")}} :</h6>
                                        {{workOrderPriority}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Customer")}} :</h6>
                                        {{customerName}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("VendorName")}} :</h6>
                                        {{vendorName}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("IncidentDescription")}} :</h6>
                                        {{incidentDescription}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("SupportItem")}} :</h6>
                                        {{supportItemDescription}}
                                    </div>
                                </div>

                            </div>
                        </tab>
                        <tab heading="{{'Updates' | localize}}">

                            <!-- TODO: This is BONKERS - somebody please fix this -->
                            <div class="kt-subheader kt-grid__item" style="padding: 0px; margin-top: -30px; height: 0px">
                                <div class="kt-container kt-container--fluid" style="padding: 0px; margin-top: -30px; height: 0px">
                                    <h5 style="padding: -20px; margin: -20px; height: 0px"></h5>
                                    <div class="kt-subheader__toolbar" style="padding: 0px; margin-top: -30px; height: 0px">
                                        <div class="kt-subheader__wrapper" style="padding: 0px; margin-top: -30px; height: 0px">

                                            <button *ngIf="isGranted('Pages.Main.WorkOrders.Create')" (click)="createWorkOrderUpdate()" class="btn btn-primary blue ng-tns-c37-21 ng-star-inserted"><i class="fa fa-plus"></i> {{l("CreateNewWorkOrderUpdate")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TODO -->

                            <div class="row align-items-center">

                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container col-12"
                                     [busyIf]="primengTableHelper.isLoading">
                                    <p-table #dataTable
                                             (onLazyLoad)="getWorkOrderUpdates($event)"
                                             [value]="primengTableHelper.records"
                                             rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                             [paginator]="false"
                                             [lazy]="true"
                                             [scrollable]="true"
                                             ScrollWidth="100%"
                                             [responsive]="primengTableHelper.isResponsive"
                                             [resizableColumns]="primengTableHelper.resizableColumns">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Main.WorkOrders.EditWorkOrderUpdate','Pages.Main.WorkOrders.DeleteWorkOrderUpdate')">{{l('Actions')}}</th>
                                                <th style="width: 150px" pSortableColumn="workOrderActionFk.action">
                                                    {{l('Action')}}
                                                    <p-sortIcon field="workOrderActionAction"></p-sortIcon>
                                                </th>
                                                <th style="width: 250px" pSortableColumn="comments">
                                                    {{l('Comments')}}
                                                    <p-sortIcon field="workOrderUpdate.comments"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="assetPartFk.name">
                                                    {{l('AssetComponent')}}
                                                    <p-sortIcon field="assetPartName"></p-sortIcon>
                                                </th>

                                                <th style="width: 150px" pSortableColumn="itemTypeFk.type">
                                                    {{l('ItemType')}}
                                                    <p-sortIcon field="itemTypeType"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="number">
                                                    {{l('ItemQuantity')}}
                                                    <p-sortIcon field="workOrderUpdate.number"></p-sortIcon>
                                                </th>
                                                <th style="width: 100px" pSortableColumn="completed">
                                                    {{l('Completed')}}
                                                    <p-sortIcon field="workOrderUpdate.completed"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Main.WorkOrders.EditWorkOrderUpdate', 'Pages.Main.WorkOrders.DeleteWorkOrderUpdate')">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                        </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;"
                                                                   (click)="viewWorkOrderUpdateModal.show(record)">{{l('View')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.WorkOrders.EditWorkOrderUpdate')"
                                                                   (click)="createOrEditWorkOrderUpdateModal.show(record.workOrderUpdate.id, workOrder.id)">{{l('Edit')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.WorkOrders.DeleteWorkOrderUpdate')"
                                                                   (click)="deleteWorkOrderUpdate(record.workOrderUpdate)">{{l('Delete')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                                   (click)="showHistory(record.workOrderUpdate)">{{l('History')}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Action')}}</span>
                                                    {{record.workOrderActionAction}}
                                                </td>
                                                <td style="width:250px">
                                                    <span class="ui-column-title"> {{l('Comments')}}</span>
                                                    {{record.workOrderUpdate.comments}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('AssetComponent')}}</span>
                                                    {{record.assetPartName}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('ItemType')}}</span>
                                                    {{record.itemTypeType}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('ItemQuantity')}}</span>
                                                    {{record.workOrderUpdate.number}}
                                                </td>
                                                <td style="width:100px">
                                                    <span class="ui-column-title"> {{l('Completed')}}</span>

                                                    <div *ngIf="record.workOrderUpdate.completed" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
                                                    
                                                    <button *ngIf="!record.workOrderUpdate.completed" (click)=completeWorkOrderUpdate(record.workOrderUpdate.id)
                                                    class="btn btn-primary blue">
                                                <i class="fa fa-pen"></i> {{l("Complete")}}
                                            </button>
                                                
                                                </td> 
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                     #paginator
                                                     (onPageChange)="getWorkOrderUpdates($event)"
                                                     [totalRecords]="primengTableHelper.totalRecordsCount"
                                                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>

                        </tab>
                        <tab heading="{{'Attachments' | localize}}">

                            <!-- TODO: This is BONKERS - somebody please fix this -->
                            <div class="kt-subheader kt-grid__item" style="padding: 0px; margin-top: -30px; height: 0px">
                                <div class="kt-container kt-container--fluid" style="padding: 0px; margin-top: -30px; height: 0px">
                                    <h5 style="padding: -20px; margin: -20px; height: 0px"></h5>
                                    <div class="kt-subheader__toolbar" style="padding: 0px; margin-top: -30px; height: 0px">
                                        <div class="kt-subheader__wrapper" style="padding: 0px; margin-top: -30px; height: 0px">

                                            <button *ngIf="isGranted('Pages.Main.Attachments.Create')" (click)="createAttachment()" class="btn btn-primary blue ng-tns-c37-21 ng-star-inserted"><i class="fa fa-plus"></i> {{l("CreateNewAttachment")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TODO -->
                            <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container col-12"
                                     [busyIf]="primengTableHelper1.isLoading">
                                    <p-table #dataTable1
                                             (onLazyLoad)="getAttachments($event)"
                                             [value]="primengTableHelper1.records"
                                             rows="{{primengTableHelper1.defaultRecordsCountPerPage}}"
                                             [paginator]="false"
                                             [lazy]="true"
                                             [scrollable]="true"
                                             ScrollWidth="100%"
                                             [responsive]="primengTableHelper1.isResponsive"
                                             [resizableColumns]="primengTableHelper1.resizableColumns">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 130px">{{l('Actions')}}</th>

                                                <th style="width: 150px" pSortableColumn="filename">
                                                    {{l('Filename')}}
                                                    <p-sortIcon field="attachment.filename"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="description">
                                                    {{l('Description')}}
                                                    <p-sortIcon field="attachment.description"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="uploadedAt">
                                                    {{l('UploadedAt')}}
                                                    <p-sortIcon field="attachment.uploadedAt"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="uploadedBy">
                                                    {{l('UploadedBy')}}
                                                    <p-sortIcon field="attachment.uploadedBy"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="blobFolder">
                                                    {{l('BlobFolder')}}
                                                    <p-sortIcon field="attachment.blobFolder"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="blobId">
                                                    {{l('BlobId')}}
                                                    <p-sortIcon field="attachment.blobId"></p-sortIcon>
                                                </th>

                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td style="width: 130px">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                        </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>
                                                            <!--<li>
                                                                <a href="javascript:;"
                                                                   (click)="viewAttachmentModal.show(record, null, null)">{{l('View')}}</a>
                                                            </li>-->
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Attachments.View')"
                                                                   (click)="viewAttachment(record.attachment)">{{l('View')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Attachments.Edit')"
                                                                   (click)="createOrEditAttachmentModal.show(record.attachment.id, 'WorkOrder', workOrder.id )">{{l('Edit')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Attachments.Delete')"
                                                                   (click)="deleteAttachment(record.attachment)">{{l('Delete')}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>

                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Filename')}}</span>
                                                    {{record.attachment.filename}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Description')}}</span>
                                                    {{record.attachment.description}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('UploadedAt')}}</span>
                                                    <span *ngIf="record.attachment.uploadedAt">
                                                        {{record.attachment.uploadedAt | momentFormat:'ll'}}
                                                    </span>
                                                    <span *ngIf="!record.attachment.uploadedAt">-</span>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('UploadedBy')}}</span>
                                                    {{record.uploadedByName}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('BlobFolder')}}</span>
                                                    {{record.attachment.blobFolder}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('BlobId')}}</span>
                                                    {{record.attachment.blobId}}
                                                </td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper1.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper1.defaultRecordsCountPerPage"
                                                     #paginator1
                                                     (onPageChange)="getAttachments($event)"
                                                     [totalRecords]="primengTableHelper1.totalRecordsCount"
                                                     [rowsPerPageOptions]="primengTableHelper1.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{l('TotalRecordsCount', primengTableHelper1.totalRecordsCount)}}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>
                        </tab>
                        <tab heading="{{'UsageMetrics' | localize}}">
                            <div class="row">
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__body" >
                                        <div class="kt-portlet__head-toolbar" >
                                            Usage Metrics Records for {{assetDisplayName}}
                                            <div style="float: right; align-items: right;" class="btn-group dropdown" dropdown container="body"
                                            [hidden]="!isGrantedAny('Pages.Main.WorkOrders.Edit')">
                                               <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                   <i class="fa fa-cog"></i><span class="caret"></span> {{l("Add Usage Metrics Record")}}
                                               </button>
                                               <ul class="dropdown-menu" *dropdownMenu>
                                                   <li *ngFor="let usageMetric of usageMetrics" >
                                                       <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Estimates.Create')"
                                                       (click)="createOrEditUsageMetricRecordModal.show(usageMetric, 0)">{{usageMetric.metric}}</a>
                                                   </li>
                                               </ul>
                                               
                                           </div>    
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                    <div class="primeng-datatable-container col-12"
                                        [busyIf]="primengTableHelper2.isLoading">
                                        <p-table #dataTable2
                                                (onLazyLoad)="getUsageMetricRecords($event)"
                                                [value]="primengTableHelper2.records"
                                                rows="{{primengTableHelper2.defaultRecordsCountPerPage}}"
                                                [paginator]="false"
                                                [lazy]="true"
                                                [scrollable]="true"
                                                ScrollWidth="100%"
                                                [responsive]="primengTableHelper2.isResponsive"
                                                [resizableColumns]="primengTableHelper2.resizableColumns">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Main.UsageMetricRecords.Edit', 'Pages.Main.UsageMetricRecords.Delete')">{{l('Actions')}}</th>
                                                        <th style="width: 150px" pSortableColumn="usageMetricFk.metric">
                                                            {{l('Metric')}}
                                                            <p-sortIcon field="usageMetricMetric"></p-sortIcon>
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="unitsConsumed">
                                                            {{l('UnitsConsumed')}}
                                                            <p-sortIcon field="usageMetricRecord.unitsConsumed"></p-sortIcon>
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="reference">
                                                            {{l('Reference')}}
                                                            <p-sortIcon field="usageMetricRecord.reference"></p-sortIcon>
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="startTime">
                                                            {{l('StartTime')}}
                                                            <p-sortIcon field="usageMetricRecord.startTime"></p-sortIcon>
                                                        </th>
                                                        <th style="width: 150px" pSortableColumn="endTime">
                                                            {{l('EndTime')}}
                                                            <p-sortIcon field="usageMetricRecord.endTime"></p-sortIcon>
                                                        </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-record="$implicit">
                                                    <tr>
                                                        <td style="width: 130px"
                                                            [hidden]="!isGrantedAny('Pages.Main.UsageMetricRecords.Edit', 'Pages.Main.UsageMetricRecords.Delete')">
                                                            <div class="btn-group dropdown" dropdown container="body">
                                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                                    <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                                </button>
                                                                <ul class="dropdown-menu" *dropdownMenu>
                                                                    <li>
                                                                        <a href="javascript:;"
                                                                           (click)="viewUsageMetricRecordModal.show(record.usageMetricRecord.id)">{{l('View')}}</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.UsageMetricRecords.Edit')"
                                                                           (click)="createOrEditUsageMetricRecordModal.show(0, record.usageMetricRecord.id)">{{l('Edit')}}</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.UsageMetricRecords.Delete')"
                                                                           (click)="deleteUsageMetricRecord(record.usageMetricRecord)">{{l('Delete')}}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('Metric')}}</span>
                                                            {{record.usageMetricMetric}}
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('UnitsConsumed')}}</span>
                                                            {{record.usageMetricRecord.unitsConsumed}}
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('Reference')}}</span>
                                                            {{record.usageMetricRecord.reference}}
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('StartTime')}}</span>
                                                            <span *ngIf="record.usageMetricRecord.startTime">
                                                                {{record.usageMetricRecord.startTime | momentFormat:'ll'}}
                                                            </span>
                                                            <span *ngIf="!record.usageMetricRecord.startTime">-</span>
                                                        </td>
                                                        <td style="width:150px">
                                                            <span class="ui-column-title"> {{l('EndTime')}}</span>
                                                            <span *ngIf="record.usageMetricRecord.endTime">
                                                                {{record.usageMetricRecord.endTime | momentFormat:'ll'}}
                                                            </span>
                                                            <span *ngIf="!record.usageMetricRecord.endTime">-</span>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper2.totalRecordsCount == 0">
                                            {{l('NoData')}}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator [rows]="primengTableHelper2.defaultRecordsCountPerPage"
                                                        #paginator2
                                                        (onPageChange)="getUsageMetricRecords($event)"
                                                        [totalRecords]="primengTableHelper2.totalRecordsCount"
                                                        [rowsPerPageOptions]="primengTableHelper2.predefinedRecordsCountPerPage">
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{l('TotalRecordsCount', primengTableHelper2.totalRecordsCount)}}
                                            </span>
                                        </div>
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <viewAttachmentModal #viewAttachmentModal></viewAttachmentModal>
        <createOrEditAttachmentModal #createOrEditAttachmentModal (attachmentModalSave)="getAttachments()"></createOrEditAttachmentModal>
        <createOrEditWorkOrderModal #createOrEditWorkOrderModal (workOrderModalSave)="getWorkOrder($event)"></createOrEditWorkOrderModal>
        <createOrEditWorkOrderUpdateModal #createOrEditWorkOrderUpdateModal (workOrderUpdateModalSave)="getWorkOrderUpdates()" [assetReference]="assetReference" [assetId]="assetId"></createOrEditWorkOrderUpdateModal>
        <viewWorkOrderUpdateModal #viewWorkOrderUpdateModal></viewWorkOrderUpdateModal>
        <viewUsageMetricRecordModal #viewUsageMetricRecordModal></viewUsageMetricRecordModal>
        <createOrEditUsageMetricRecordModal #createOrEditUsageMetricRecordModal (modalSave)="getUsageMetricRecords()"></createOrEditUsageMetricRecordModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>