<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #assetClassForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="assetClass.id">{{l("EditAssetClass")}}</span>
                        <span *ngIf="!assetClass.id">{{l("CreateNewAssetClass")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="AssetTypeType">{{l("AssetType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetTypeType" name="assetTypeType" [(ngModel)]="assetTypeType" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="assetClass.assetTypeId" [(ngModel)]="assetClass.assetTypeId" type="text" required hidden>
		 

								<div class="form-group">
									<label for="AssetClass_Manufacturer">{{l("Manufacturer")}} *</label>
									<input type="text" id="AssetClass_Manufacturer" class="form-control" [(ngModel)]="assetClass.manufacturer" name="Manufacturer"     required/>
								</div>
					
								<div class="form-group">
									<label for="AssetClass_Model">{{l("Model")}}</label>
									<input type="text" id="AssetClass_Model" class="form-control" [(ngModel)]="assetClass.model" name="Model"    />
								</div>
					
								<div class="form-group">
									<label for="AssetClass_Specification">{{l("Specification")}}</label>
									<input type="text" id="AssetClass_Specification" class="form-control" [(ngModel)]="assetClass.specification" name="Specification"    />
								</div>
					
								<div class="form-group">
									<label for="AssetClass_Class">{{l("Class")}} *</label>
									<input type="text" id="AssetClass_Class" class="form-control" [(ngModel)]="assetClass.class" name="Class"     required/>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!assetClassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<assetClassAssetTypeLookupTableModal #assetClassAssetTypeLookupTableModal (modalSave)="getNewAssetTypeId()"></assetClassAssetTypeLookupTableModal>
		 
</div>