<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("SupportContracts")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{ supportContract.title }}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button *ngIf="isGranted('Pages.Main.SupportContracts.Edit')" (click)=createOrEditSupportContractModal.show(supportContract.id)
                                class="btn btn-primary blue">
                            <i class="fa fa-pen"></i> {{l("EditSupportContract")}}
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <tabset>
                        <tab heading="{{'Support Contract' | localize}}">
                            <div class="row align-items-center">
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Title")}} :</h6>
                                        {{ supportContract.title }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Reference")}} :</h6>
                                        {{ supportContract.reference }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Description")}} :</h6>
                                        {{ supportContract.description }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("StartDate")}} :</h6>
                                        {{ supportContract.startDate | momentFormat:'ll LT' }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("EndDate")}} :</h6>
                                        {{ supportContract.endDate | momentFormat:'ll LT' }}
                                    </div>

                                    <div class="col-6 mb-3">
                                        <h6>{{l("IsRFQTemplate")}} :</h6>
                                        {{ supportContract.isRFQTemplate }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("IsAcknowledged")}} :</h6>
                                        {{ supportContract.isAcknowledged }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("AcknowledgedBy")}} :</h6>
                                        {{ supportContract.acknowledgedBy }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("AcknowledgedAt")}} :</h6>
                                        {{ supportContract.acknowledgedAt | momentFormat:'ll LT' }}
                                    </div>

                                    <div class="col-6 mb-3">
                                        <h6>({{l("Vendor")}}) {{l("Name")}} :</h6>
                                        {{vendorName}}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>({{l("AssetOwner")}}) {{l("Name")}} :</h6>
                                        {{assetOwnerName}}
                                    </div>

                                </div>

                            </div>
                        </tab>

                        <tab heading="{{'Support Items' | localize}}">
                            <!-- TODO: This is BONKERS - somebody please fix this -->
                            <div class="kt-subheader kt-grid__item" style="padding: 0px; margin-top: -30px; height: 0px">
                                <div class="kt-container kt-container--fluid" style="padding: 0px; margin-top: -30px; height: 0px">
                                    <h5 style="padding: -20px; margin: -20px; height: 0px"></h5>
                                    <div class="kt-subheader__toolbar" style="padding: 0px; margin-top: -30px; height: 0px">
                                        <div class="kt-subheader__wrapper" style="padding: 0px; margin-top: -30px; height: 0px">
                                            <button *ngIf="isGranted('Pages.Main.SupportContracts.SupportItemsCreate')" (click)="createSupportItem()" style="float: right; margin-bottom:10px; margin-top:0px; text-align: right;" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewSupportItem")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TODO -->

                            <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container col-12"
                                     [busyIf]="primengTableHelper.isLoading">
                                    <p-table #dataTable
                                             (onLazyLoad)="getSupportItems($event)"
                                             [value]="primengTableHelper.records"
                                             rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                             [paginator]="false"
                                             [lazy]="true"
                                             [scrollable]="true"
                                             ScrollWidth="100%"
                                             [responsive]="primengTableHelper.isResponsive"
                                             [resizableColumns]="primengTableHelper.resizableColumns">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 130px">{{l('Actions')}}</th>
                                                <th style="width: 150px" pSortableColumn="assetFk.reference">
                                                    {{l('Reference')}}
                                                    <p-sortIcon field="assetReference"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="assetClassFk.class">
                                                    {{l('Class')}}
                                                    <p-sortIcon field="assetClassClass"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="uomFk.unitOfMeasurement">
                                                    {{l('UnitOfMeasurement')}}
                                                    <p-sortIcon field="uomUnitOfMeasurement"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="supportContractFk.title">
                                                    {{l('Title')}}
                                                    <p-sortIcon field="supportContractTitle"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="consumableTypeFk.type">
                                                    {{l('Type')}}
                                                    <p-sortIcon field="consumableTypeType"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="supportTypeFk.type">
                                                    {{l('Type')}}
                                                    <p-sortIcon field="supportTypeType"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="description">
                                                    {{l('Description')}}
                                                    <p-sortIcon field="supportItem.description"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="unitPrice">
                                                    {{l('UnitPrice')}}
                                                    <p-sortIcon field="supportItem.unitPrice"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="frequency">
                                                    {{l('Frequency')}}
                                                    <p-sortIcon field="supportItem.frequency"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="isAdHoc">
                                                    {{l('IsAdHoc')}}
                                                    <p-sortIcon field="supportItem.isAdHoc"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="isChargeable">
                                                    {{l('IsChargeable')}}
                                                    <p-sortIcon field="supportItem.isChargeable"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="isStandbyReplacementUnit">
                                                    {{l('IsStandbyReplacementUnit')}}
                                                    <p-sortIcon field="supportItem.isStandbyReplacementUnit"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td style="width: 130px">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                        </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;"
                                                                   (click)="viewSupportItemModal.show(record)">{{l('View')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.SupportContracts.SupportItemsEdit')"
                                                                   (click)="createOrEditSupportItemModal.show(record.supportItem.id, supportContract.id)">{{l('Edit')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.SupportContracts.SupportItemsDelete')"
                                                                   (click)="deleteSupportItem(record.supportItem)">{{l('Delete')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                                   (click)="showHistory(record.supportItem)">{{l('History')}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Reference')}}</span>
                                                    {{record.assetReference}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Class')}}</span>
                                                    {{record.assetClassClass}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('UnitOfMeasurement')}}</span>
                                                    {{record.uomUnitOfMeasurement}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Title')}}</span>
                                                    {{record.supportContractTitle}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Type')}}</span>
                                                    {{record.consumableTypeType}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Type')}}</span>
                                                    {{record.supportTypeType}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Description')}}</span>
                                                    {{record.supportItem.description}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('UnitPrice')}}</span>
                                                    {{record.supportItem.unitPrice}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Frequency')}}</span>
                                                    {{record.supportItem.frequency}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('IsAdHoc')}}</span>
                                                    <div *ngIf="record.supportItem.isAdHoc" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
                                                    <div *ngIf="!record.supportItem.isAdHoc" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('IsChargeable')}}</span>
                                                    <div *ngIf="record.supportItem.isChargeable" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
                                                    <div *ngIf="!record.supportItem.isChargeable" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('IsStandbyReplacementUnit')}}</span>
                                                    <div *ngIf="record.supportItem.isStandbyReplacementUnit" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
                                                    <div *ngIf="!record.supportItem.isStandbyReplacementUnit" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                                </td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                                     #paginator
                                                     (onPageChange)="getSupportItems($event)"
                                                     [totalRecords]="primengTableHelper.totalRecordsCount"
                                                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>
                        </tab>

                        <tab heading="{{'Attachments' | localize}}">

                            <!-- TODO: This is BONKERS - somebody please fix this -->
                            <div class="kt-subheader kt-grid__item" style="padding: 0px; margin-top: -30px; height: 0px">
                                <div class="kt-container kt-container--fluid" style="padding: 0px; margin-top: -30px; height: 0px">
                                    <h5 style="padding: -20px; margin: -20px; height: 0px"></h5>
                                    <div class="kt-subheader__toolbar" style="padding: 0px; margin-top: -30px; height: 0px">
                                        <div class="kt-subheader__wrapper" style="padding: 0px; margin-top: -30px; height: 0px">

                                            <button *ngIf="isGranted('Pages.Main.Attachments.Create')" (click)="createAttachment()" class="btn btn-primary blue ng-tns-c37-21 ng-star-inserted"><i class="fa fa-plus"></i> {{l("CreateNewAttachment")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TODO -->
                            <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container col-12"
                                     [busyIf]="primengTableHelper1.isLoading">
                                    <p-table #dataTable1
                                             (onLazyLoad)="getAttachments($event)"
                                             [value]="primengTableHelper1.records"
                                             rows="{{primengTableHelper1.defaultRecordsCountPerPage}}"
                                             [paginator]="false"
                                             [lazy]="true"
                                             [scrollable]="true"
                                             ScrollWidth="100%"
                                             [responsive]="primengTableHelper1.isResponsive"
                                             [resizableColumns]="primengTableHelper1.resizableColumns">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width: 130px">{{l('Actions')}}</th>

                                                <th style="width: 150px" pSortableColumn="filename">
                                                    {{l('Filename')}}
                                                    <p-sortIcon field="attachment.filename"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="description">
                                                    {{l('Description')}}
                                                    <p-sortIcon field="attachment.description"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="uploadedAt">
                                                    {{l('UploadedAt')}}
                                                    <p-sortIcon field="attachment.uploadedAt"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="uploadedBy">
                                                    {{l('UploadedBy')}}
                                                    <p-sortIcon field="attachment.uploadedBy"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="blobFolder">
                                                    {{l('BlobFolder')}}
                                                    <p-sortIcon field="attachment.blobFolder"></p-sortIcon>
                                                </th>
                                                <th style="width: 150px" pSortableColumn="blobId">
                                                    {{l('BlobId')}}
                                                    <p-sortIcon field="attachment.blobId"></p-sortIcon>
                                                </th>

                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr>
                                                <td style="width: 130px">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                        </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>
                                                            <!--<li>
                                                            <a href="javascript:;"
                                                               (click)="viewAttachmentModal.show(record, null, null)">{{l('View')}}</a>
                                                        </li>-->
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Attachments.View')"
                                                                   (click)="viewAttachment(record.attachment)">{{l('View')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Attachments.Edit')"
                                                                   (click)="createOrEditAttachmentModal.show(record.attachment.id, 'SupportContract', supportContract.id)">{{l('Edit')}}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.Attachments.Delete')"
                                                                   (click)="deleteAttachment(record.attachment)">{{l('Delete')}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>

                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Filename')}}</span>
                                                    {{record.attachment.filename}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Description')}}</span>
                                                    {{record.attachment.description}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('UploadedAt')}}</span>
                                                    <span *ngIf="record.attachment.uploadedAt">
                                                        {{record.attachment.uploadedAt | momentFormat:'ll'}}
                                                    </span>
                                                    <span *ngIf="!record.attachment.uploadedAt">-</span>
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('UploadedBy')}}</span>
                                                    {{record.uploadedByName}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('BlobFolder')}}</span>
                                                    {{record.attachment.blobFolder}}
                                                </td>
                                                <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('BlobId')}}</span>
                                                    {{record.attachment.blobId}}
                                                </td>

                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper1.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper1.defaultRecordsCountPerPage"
                                                     #paginator1
                                                     (onPageChange)="getAttachments($event)"
                                                     [totalRecords]="primengTableHelper1.totalRecordsCount"
                                                     [rowsPerPageOptions]="primengTableHelper1.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{l('TotalRecordsCount', primengTableHelper1.totalRecordsCount)}}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

        <viewAttachmentModal #viewAttachmentModal></viewAttachmentModal>
        <createOrEditAttachmentModal #createOrEditAttachmentModal (attachmentModalSave)="getAttachments()"></createOrEditAttachmentModal>
        <createOrEditSupportContractModal #createOrEditSupportContractModal (modalSave)="getSupportContract()"></createOrEditSupportContractModal>
        <createOrEditSupportItemModal #createOrEditSupportItemModal (modalSave)="getSupportItems()"></createOrEditSupportItemModal>
        <viewSupportItemModal #viewSupportItemModal></viewSupportItemModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>
