<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #incidentPriorityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="incidentPriority.id">{{l("EditIncidentPriority")}}</span>
                        <span *ngIf="!incidentPriority.id">{{l("CreateNewIncidentPriority")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="IncidentPriority_Priority">{{l("Priority")}} *</label>
									<input type="text" id="IncidentPriority_Priority" class="form-control" [(ngModel)]="incidentPriority.priority" name="Priority"     required/>
								</div>
					
								<div class="form-group">
									<label for="IncidentPriority_Description">{{l("Description")}} *</label>
									<input type="text" id="IncidentPriority_Description" class="form-control" [(ngModel)]="incidentPriority.description" name="Description"     required/>
								</div>
					
								<div class="form-group">
									<label for="IncidentPriority_PriorityLevel">{{l("PriorityLevel")}}</label>
									<input type="number" id="IncidentPriority_PriorityLevel" class="form-control" [(ngModel)]="incidentPriority.priorityLevel" name="PriorityLevel"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!incidentPriorityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>