<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("CustomerReference")}} :</h6>
                        {{ item.customerInvoice.customerReference }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.customerInvoice.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DateIssued")}} :</h6>
                        {{ item.customerInvoice.dateIssued | momentFormat:'ll LT' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DateDue")}} :</h6>
                        {{ item.customerInvoice.dateDue | momentFormat:'ll LT' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TotalTax")}} :</h6>
                        {{ item.customerInvoice.totalTax }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TotalPrice")}} :</h6>
                        {{ item.customerInvoice.totalPrice }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TotalNet")}} :</h6>
                        {{ item.customerInvoice.totalNet }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TotalDiscount")}} :</h6>
                        {{ item.customerInvoice.totalDiscount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TotalCharge")}} :</h6>
                        {{ item.customerInvoice.totalCharge }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("InvoiceRecipient")}} :</h6>
                        {{ item.customerInvoice.invoiceRecipient }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Remarks")}} :</h6>
                        {{ item.customerInvoice.remarks }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("Customer")}}) {{l("Name")}} :</h6>
                        {{item.customerName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Currency")}}) {{l("Code")}} :</h6>
                        {{item.currencyCode}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("BillingRule")}}) {{l("Name")}} :</h6>
                        {{item.billingRuleName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("BillingEvent")}}) {{l("Purpose")}} :</h6>
                        {{item.billingEventPurpose}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("InvoiceStatus")}}) {{l("Status")}} :</h6>
                        {{item.invoiceStatusStatus}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
