<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("BillingRules")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("BillingRulesHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Main.BillingRules.Create')" (click)="createBillingRule()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewBillingRule")}}</button>
            </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getBillingRules()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilter">{{l("Name")}}</label>
									<input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
								</div>
                            </div>	
							<div class="col-md-3">
								<label for="IsParentFilterSelect">{{l("IsParent")}}</label>
								<select class="form-control" name="IsParentFilter" id="IsParentFilterSelect" [(ngModel)]="isParentFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinParentBillingRuleRefIdFilter">{{l("MinMax")}} {{l("ParentBillingRuleRefId")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinParentBillingRuleRefIdFilter" [(ngModel)]="minParentBillingRuleRefIdFilter" placeholder="{{l('MinValue')}}" name="minParentBillingRuleRefIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxParentBillingRuleRefIdFilter" placeholder="{{l('MaxValue')}}" name="maxParentBillingRuleRefIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinChargePerUnitFilter">{{l("MinMax")}} {{l("ChargePerUnit")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinChargePerUnitFilter" [(ngModel)]="minChargePerUnitFilter" placeholder="{{l('MinValue')}}" name="minChargePerUnitFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxChargePerUnitFilter" placeholder="{{l('MaxValue')}}" name="maxChargePerUnitFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="BillingRuleTypeTypeFilter">({{l("BillingRuleType")}}) {{l("Type")}}</label>
									<input type="text" class="form-control" id="BillingRuleTypeTypeFilter" name="billingRuleTypeTypeFilter" [(ngModel)]="billingRuleTypeTypeFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UsageMetricMetricFilter">({{l("UsageMetric")}}) {{l("Metric")}}</label>
									<input type="text" class="form-control" id="UsageMetricMetricFilter" name="usageMetricMetricFilter" [(ngModel)]="usageMetricMetricFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="LeaseAgreementTitleFilter">({{l("LeaseAgreement")}}) {{l("Title")}}</label>
									<input type="text" class="form-control" id="LeaseAgreementTitleFilter" name="leaseAgreementTitleFilter" [(ngModel)]="leaseAgreementTitleFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="VendorNameFilter">({{l("Vendor")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="VendorNameFilter" name="vendorNameFilter" [(ngModel)]="vendorNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="LeaseItemItemFilter">({{l("LeaseItem")}}) {{l("Item")}}</label>
									<input type="text" class="form-control" id="LeaseItemItemFilter" name="leaseItemItemFilter" [(ngModel)]="leaseItemItemFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CurrencyCodeFilter">({{l("Currency")}}) {{l("Code")}}</label>
									<input type="text" class="form-control" id="CurrencyCodeFilter" name="currencyCodeFilter" [(ngModel)]="currencyCodeFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getBillingRules($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Main.BillingRules.Edit', 'Pages.Main.BillingRules.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="billingRuleTypeFk.type">
                                        {{l('Type')}}
                                        <p-sortIcon field="billingRuleTypeType"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="usageMetricFk.metric">
                                        {{l('Metric')}}
                                        <p-sortIcon field="usageMetricMetric"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="leaseAgreementFk.title">
                                        {{l('Title')}}
                                        <p-sortIcon field="leaseAgreementTitle"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="vendorFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="vendorName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="leaseItemFk.item">
                                        {{l('Item')}}
                                        <p-sortIcon field="leaseItemItem"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="currencyFk.code">
                                        {{l('Code')}}
                                        <p-sortIcon field="currencyCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="billingRule.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="isParent">
                                        {{l('IsParent')}}
                                        <p-sortIcon field="billingRule.isParent"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="parentBillingRuleRefId">
                                        {{l('ParentBillingRuleRefId')}}
                                        <p-sortIcon field="billingRule.parentBillingRuleRefId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="chargePerUnit">
                                        {{l('ChargePerUnit')}}
                                        <p-sortIcon field="billingRule.chargePerUnit"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="defaultInvoiceDescription">
                                        {{l('DefaultInvoiceDescription')}}
                                        <p-sortIcon field="billingRule.defaultInvoiceDescription"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Main.BillingRules.Edit', 'Pages.Main.BillingRules.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewBillingRuleModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.BillingRules.Edit')"
														(click)="createOrEditBillingRuleModal.show(record.billingRule.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.BillingRules.Delete')"
														(click)="deleteBillingRule(record.billingRule)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.billingRule)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Type')}}</span>
												{{record.billingRuleTypeType}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Metric')}}</span>
												{{record.usageMetricMetric}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Title')}}</span>
												{{record.leaseAgreementTitle}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Name')}}</span>
												{{record.vendorName}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Item')}}</span>
												{{record.leaseItemItem}}
											</td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Code')}}</span>
												{{record.currencyCode}}
											</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Name')}}</span>
											{{record.billingRule.name}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('IsParent')}}</span>
                                        <div *ngIf="record.billingRule.isParent" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.billingRule.isParent" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ParentBillingRuleRefId')}}</span>
											{{record.billingRule.parentBillingRuleRefId}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ChargePerUnit')}}</span>
											{{record.billingRule.chargePerUnit}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('DefaultInvoiceDescription')}}</span>
											{{record.billingRule.defaultInvoiceDescription}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getBillingRules($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditBillingRuleModal #createOrEditBillingRuleModal (modalSave)="getBillingRules()"></createOrEditBillingRuleModal>
    <viewBillingRuleModal #viewBillingRuleModal></viewBillingRuleModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>
