<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #workOrderUpdateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="workOrderUpdate.id">{{l("EditWorkOrderUpdate")}}</span>
                        <span *ngIf="!workOrderUpdate.id">{{l("CreateNewWorkOrderUpdate")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"> 

                    <div class="form-group m-form__group">
                        <label for="WorkOrderUpdateActionAction">{{l("Action")}} *</label>
                        <div class="input-group">
                            <input class="form-control" id="WorkOrderUpdateActionAction" name="workOrderUpdateActionAction" [(ngModel)]="workOrderUpdateActionAction" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectActionModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setActionIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="workOrderUpdate.workOrderActionId" [(ngModel)]="workOrderUpdate.workOrderActionId" type="text" hidden required>

					<div class="form-group m-form__group">
                        <label for="AssetPartName">{{l("AssetComponent")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetPartName" name="assetPartName" [(ngModel)]="assetPartName" type="text" disabled>     
                            <div class="input-group-prepend">
                                <button *ngIf="!assetPartName" class="btn btn-secondary" (click)="createAssetPart()" type="button"><i class="fa fa-plus"></i> {{l("New")}}</button>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetPartModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> 
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetPartIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="input-group-prepend">
                        <input class="form-control" name="workOrderUpdate.assetPartId" [(ngModel)]="workOrderUpdate.assetPartId" type="text"  hidden>
                    </div>

                    <div class="form-group">
                        <label for="WorkOrderUpdate_Comments">{{l("Comments")}}</label>
                        <input type="text" id="WorkOrderUpdate_Comments" class="form-control" [(ngModel)]="workOrderUpdate.comments" name="Comments"    />
                    </div>

                    <div class="form-group m-form__group">
                        <label for="ItemTypeType">{{l("ItemType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ItemTypeType" name="itemTypeType" [(ngModel)]="itemTypeType" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectItemTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setItemTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="workOrderUpdate.itemTypeId" [(ngModel)]="workOrderUpdate.itemTypeId" type="text" hidden>

                    <div *ngIf="workOrderUpdate.itemTypeId" class="form-group">
                        <label for="WorkOrderUpdate_Number">{{l("ItemQuantity")}}</label>
                        <input type="number" id="WorkOrderUpdate_Number" class="form-control" [(ngModel)]="workOrderUpdate.number" name="Number"   />
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="WorkOrderUpdate_Completed" class="kt-checkbox">
                            <input id="WorkOrderUpdate_Completed" type="checkbox" name="Completed" [(ngModel)]="workOrderUpdate.completed">
                            {{l("Completed")}}
                            <span></span>
                        </label>
                    </div>

                    
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!workOrderUpdateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <workOrderUpdateAssetPartLookupTableModal #workOrderUpdateAssetPartLookupTableModal (modalSave)="getNewAssetPartId()" [assetId]="assetId"></workOrderUpdateAssetPartLookupTableModal>
    <workOrderUpdateWorkOrderActionLookupTableModal #workOrderUpdateWorkOrderActionLookupTableModal (modalSave)="getNewActionId()"></workOrderUpdateWorkOrderActionLookupTableModal>
    <itemTypeLookupTableModal #itemTypeLookupTableModal (modalSave)="getNewItemTypeId()"></itemTypeLookupTableModal>
    <createOrEditAssetPartModal #createOrEditAssetPartModal (partCreated)="partCreated($event)" [assetReference]="assetReference" [isItem]="isItem" [assetId]="assetId"></createOrEditAssetPartModal>
</div>