<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ssicCodeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="ssicCode.id">{{l("EditSsicCode")}}</span>
                        <span *ngIf="!ssicCode.id">{{l("CreateNewSsicCode")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="SsicCode_Code">{{l("Code")}} *</label>
									<input type="text" id="SsicCode_Code" class="form-control" [(ngModel)]="ssicCode.code" name="Code"     required/>
								</div>
					
								<div class="form-group">
									<label for="SsicCode_SSIC">{{l("SSIC")}} *</label>
									<input type="text" id="SsicCode_SSIC" class="form-control" [(ngModel)]="ssicCode.ssic" name="SSIC"     required/>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!ssicCodeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>