<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Warehouse")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{ warehouse.name }}
                    </span>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="close()" class="btn btn-outline-dark"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    
                    <tabset>

                        <tab heading="{{'Warehouse' | localize}}">
                            <div class="row align-items-center">
                                <div class="row">
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Name")}} :</h6>
                                        {{ warehouse.name }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("AddressLine1")}} :</h6>
                                        {{ warehouse.addressLine1 }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("AddressLine2")}} :</h6>
                                        {{ warehouse.addressLine2 }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("PostalCode")}} :</h6>
                                        {{ warehouse.postalCode }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("City")}} :</h6>
                                        {{ warehouse.city }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("State")}} :</h6>
                                        {{ warehouse.state }}
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>{{l("Country")}} :</h6>
                                        {{ warehouse.country }}
                                    </div>
                
                
                                </div>

                            </div>
                        </tab>

                        <tab heading="{{'AssetComponents' | localize}}">

                            <!-- TODO: This is BONKERS - somebody please fix this -->
                            <div class="kt-subheader kt-grid__item" style="padding: 0px; margin-top: -30px; height: 0px">
                                <div class="kt-container kt-container--fluid" style="padding: 0px; margin-top: -30px; height: 0px">
                                    <h5 style="padding: -20px; margin: -20px; height: 0px"></h5>
                                    <div class="kt-subheader__toolbar" style="padding: 0px; margin-top: -30px; height: 0px">
                                        <div class="kt-subheader__wrapper" style="padding: 0px; margin-top: -30px; height: 0px">
                                            <button *ngIf="isGranted('Pages.Main.Warehouses.Create')" (click)="createAssetPart()" class="btn btn-primary blue ng-tns-c37-21 ng-star-inserted"><i class="fa fa-plus"></i> {{l("CreateNewComponent")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TODO -->
                        
                            <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12"
                        [busyIf]="primengTableHelper1.isLoading">
                        <p-table #dataTable1
                                (onLazyLoad)="getAssetParts($event)"
                                [value]="primengTableHelper1.records"
                                rows="{{primengTableHelper1.defaultRecordsCountPerPage}}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper1.isResponsive"
                                [resizableColumns]="primengTableHelper1.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Main.AssetParts.Edit', 'Pages.Main.AssetParts.Delete')">{{l('Actions')}}</th>

                                        <th style="width: 150px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="assetPart.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="serialNumber">
                                            {{l('SerialNumber')}}
                                            <p-sortIcon field="assetPart.serialNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="assetPartTypeFk.type">
                                            {{l('Type')}}
                                            <p-sortIcon field="assetPartTypeType"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="assetPartStatusFk.status">
                                            {{l('Status')}}
                                            <p-sortIcon field="assetPartStatusStatus"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>                           
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Main.AssetParts.Edit', 'Pages.Main.AssetParts.Delete')">
                                           <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                </button>
                                                    <ul class="dropdown-menu"  *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;"
                                                            (click)="viewAssetPartModal.show(record)">{{l('View')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.AssetParts.Edit')"
                                                            (click)="createOrEditAssetPartModal.show( {id: record.assetPart.id} )">{{l('Edit')}}</a>
                                                    </li> 
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.AssetParts.Edit')"
                                                            (click)="moveToWarehouseLookupTableModalComponent.show(record.assetPart.id, 'component')">{{l('Move to Warehouse')}}</a>
                                                    </li> 
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.AssetParts.Edit')"
                                                            (click)="moveToAssetLookupTableModalComponent.show(record.assetPart.id, 'component')">{{l('Move to Asset')}}</a>
                                                    </li> 
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Main.AssetParts.Delete')"
                                                            (click)="deleteAssetPart(record.assetPart)">{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                        <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Name')}}</span>
                                                    {{record.assetPart.name}}
                                                </td>
                                        <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('SerialNumber')}}</span>
                                                    {{record.assetPart.serialNumber}}
                                                </td>
                                        <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Type')}}</span>
                                                    {{record.assetPartTypeType}}
                                                </td>
                                        <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('Status')}}</span>
                                                    {{record.assetPartStatusStatus}}
                                                </td>
   
                                    </tr>
                                </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper1.totalRecordsCount == 0">
                        {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                        <p-paginator [rows]="primengTableHelper1.defaultRecordsCountPerPage"
                                    #paginator1
                                    (onPageChange)="getAssetParts($event)"
                                    [totalRecords]="primengTableHelper1.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper1.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                           {{l('TotalRecordsCount', primengTableHelper1.totalRecordsCount)}}
                        </span>
                        </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                            </div>
                        </tab>

                        <tab heading="{{'InventoryItems' | localize}}">

                            <!-- TODO: This is BONKERS - somebody please fix this -->
                            <div class="kt-subheader kt-grid__item" style="padding: 0px; margin-top: -30px; height: 0px">
                                <div class="kt-container kt-container--fluid" style="padding: 0px; margin-top: -30px; height: 0px">
                                    <h5 style="padding: -20px; margin: -20px; height: 0px"></h5>
                                    <div class="kt-subheader__toolbar" style="padding: 0px; margin-top: -30px; height: 0px">
                                        <div class="kt-subheader__wrapper" style="padding: 0px; margin-top: -30px; height: 0px">

                                            <button *ngIf="isGranted('Pages.Main.Warehouses.Create')" (click)="createInventoryItem()" class="btn btn-primary blue ng-tns-c37-21 ng-star-inserted"><i class="fa fa-plus"></i> {{l("CreateNewInventoryItem")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TODO -->

                            <div class="row align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                    [busyIf]="primengTableHelper.isLoading">
                   <p-table #dataTable
                                (onLazyLoad)="getInventoryItems($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                       <ng-template pTemplate="header">
                           <tr>
                               <th style="width: 130px" [hidden]="!isGrantedAny('Pages.InventoryItems.Edit', 'Pages.InventoryItems.Delete')">{{l('Actions')}}</th>
                               <th style="width: 150px" pSortableColumn="itemTypeFk.type">
                                   {{l('Type')}}
                                   <p-sortIcon field="itemTypeType"></p-sortIcon>
                               </th>
                               <th style="width: 150px" pSortableColumn="name">
                                   {{l('Name')}}
                                   <p-sortIcon field="inventoryItem.name"></p-sortIcon>
                               </th>
                               <th style="width: 150px" pSortableColumn="reference">
                                   {{l('Reference')}}
                                   <p-sortIcon field="inventoryItem.reference"></p-sortIcon>
                               </th>
                               <th style="width: 150px" pSortableColumn="qtyInWarehouse">
                                   {{l('Qty')}}
                                   <p-sortIcon field="inventoryItem.qtyInWarehouse"></p-sortIcon>
                               </th>
                               <th style="width: 150px" pSortableColumn="qtyInAssets">
                                {{l('QtyInAssets')}}
                                <p-sortIcon field="inventoryItem.qtyInAssets"></p-sortIcon>
                            </th>
                               <th style="width: 150px" pSortableColumn="restockLimit">
                                   {{l('RestockLimit')}}
                                   <p-sortIcon field="inventoryItem.restockLimit"></p-sortIcon>
                               </th>
                               <th style="width: 150px" pSortableColumn="qtyOnOrder">
                                   {{l('QtyOnOrder')}}
                                   <p-sortIcon field="inventoryItem.qtyOnOrder"></p-sortIcon>
                               </th>

                           </tr>
                       </ng-template>                           
                       <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                           <tr>
                               <td style="width: 130px"
                                   [hidden]="!isGrantedAny('Pages.InventoryItems.Edit', 'Pages.InventoryItems.Delete')">
                                  <div class="btn-group dropdown" dropdown container="body">
                                       <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                           <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                       </button>
                                           <ul class="dropdown-menu"  *dropdownMenu>
                                           <li>
                                               <a href="javascript:;" 
                                                   (click)="viewInventoryItemModal.show(record)">{{l('View')}}</a>
                                           </li>
                                           <li>
                                           <a href="javascript:;" *ngIf="permission.isGranted('Pages.InventoryItems.Edit')" 
                                                   (click)="createOrEditInventoryItemModal.show(record.inventoryItem.id)">{{l('Edit')}}</a>												
                                           </li>
                                           <li>
                                               <a  href="javascript:;" *ngIf="permission.isGranted('Pages.InventoryItems.Delete')"
                                                   (click)="deleteInventoryItem(record.inventoryItem)">{{l('Delete')}}</a>
                                           </li>
                                       </ul>
                                   </div>
                               </td>
                               <td style="width:150px">
                                           <span class="ui-column-title"> {{l('Type')}}</span>
                                           {{record.itemTypeType}}
                                       </td>
                               <td style="width:150px">
                                       <span class="ui-column-title"> {{l('Name')}}</span>
                                       {{record.inventoryItem.name}}
                                   </td>
                               <td style="width:150px">
                                       <span class="ui-column-title"> {{l('Reference')}}</span>
                                       {{record.inventoryItem.reference}}
                                   </td>
                               <td style="width:150px">
                                       <span class="ui-column-title"> {{l('Qty')}}</span>
                                       {{record.inventoryItem.qtyInWarehouse}}
                                   </td>
                                <td style="width:150px">
                                    <span class="ui-column-title"> {{l('QtyInAssets')}}</span>
                                    {{record.inventoryItem.qtyInAssets}}
                                </td>
                               <td style="width:150px">
                                       <span class="ui-column-title"> {{l('RestockLimit')}}</span>
                                       {{record.inventoryItem.restockLimit}}
                                   </td>
                               <td style="width:150px">
                                       <span class="ui-column-title"> {{l('QtyOnOrder')}}</span>
                                       {{record.inventoryItem.qtyOnOrder}}
                                   </td>
                           </tr>
                          
                       </ng-template>
                   </p-table>
                   <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                       {{l('NoData')}}
                   </div>
                   <div class="primeng-paging-container">
                       <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getInventoryItems($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                       </p-paginator>
                       <span class="total-records-count">
                           {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                       </span>
                   </div>
               </div>
               <!--<Primeng-Datatable-End>-->
                            </div>
                        </tab>
                        

                    </tabset>
                </div>
            </div>
        </div>

        <viewAttachmentModal #viewAttachmentModal></viewAttachmentModal>
        <createOrEditWarehouseModal #createOrEditWarehouseModal (modalSave)="getWarehouse()"></createOrEditWarehouseModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>

        <createOrEditInventoryItemModal #createOrEditInventoryItemModal (modalSave)="getInventoryItems()"></createOrEditInventoryItemModal>
        <viewInventoryItemModal #viewInventoryItemModal></viewInventoryItemModal>

        <createOrEditAssetPartModal #createOrEditAssetPartModal (modalSave)="getAssetParts()"></createOrEditAssetPartModal>    
        <viewAssetPartModal #viewAssetPartModal></viewAssetPartModal>

        <moveToAssetLookupTableModal #moveToAssetLookupTableModalComponent (assetPartMovedToAsset)="getAssetParts()"></moveToAssetLookupTableModal>
        <moveToWarehouseLookupTableModal #moveToWarehouseLookupTableModalComponent (assetPartMovedToWarehouse)="getAssetParts()"></moveToWarehouseLookupTableModal>

    </div>
</div>
