<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #quotationDetailForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="quotationDetail.id">{{l("EditQuotationDetail")}}</span>
                        <span *ngIf="!quotationDetail.id">{{l("CreateNewQuotationDetail")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!--<div class="form-group m-form__group">
                        <label for="WorkOrderSubject">{{l("WorkOrder")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="WorkOrderSubject" name="workOrderSubject" [(ngModel)]="workOrderSubject" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectWorkOrderModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setWorkOrderIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.workOrderId" [(ngModel)]="quotationDetail.workOrderId" type="text" hidden>


                    <div class="form-group m-form__group">
                        <label for="AssetReference">{{l("Asset")}} *</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetReference" name="assetReference" [(ngModel)]="assetReference" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.assetId" [(ngModel)]="quotationDetail.assetId" type="text" required hidden>

                    <div class="form-group m-form__group" *ngIf="quotationDetail.assetId">
                        <label for="AssetClassClass">{{l("AssetClass")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetClassClass" name="assetClassClass" [(ngModel)]="assetClassClass" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetClassModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetClassIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.assetClassId" [(ngModel)]="quotationDetail.assetClassId" type="text" hidden>

                    <div class="form-group m-form__group" *ngIf="quotationDetail.assetId">
                        <label for="SupportItemDescription">{{l("SupportItem")}} *</label>
                        <div class="input-group">
                            <input class="form-control" id="SupportItemDescription" name="supportItemDescription" [(ngModel)]="supportItemDescription" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectSupportItemModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setSupportItemIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.supportItemId" [(ngModel)]="quotationDetail.supportItemId" type="text" required hidden>

                    <div class="form-group m-form__group" *ngIf="quotationDetail.assetId">
                        <label for="SupportTypeType">{{l("SupportType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="SupportTypeType" name="supportTypeType" [(ngModel)]="supportTypeType" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectSupportTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setSupportTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.supportTypeId" [(ngModel)]="quotationDetail.supportTypeId" type="text" hidden>

                    <div class="form-group m-form__group" *ngIf="quotationDetail.assetId">
                        <label for="AO_Address">{{l("Address")}}</label>
                        <input class="form-control" id="AO_Address" name="ao_address" [(ngModel)]="ao_address" type="text" disabled>
                    </div>-->


                    <div class="form-group m-form__group">
                        <label for="ItemTypeType">{{l("ItemType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ItemTypeType" name="itemTypeType" [(ngModel)]="itemTypeType" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectItemTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setItemTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.itemTypeId" [(ngModel)]="quotationDetail.itemTypeId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="UomUnitOfMeasurement">{{l("Uom")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UomUnitOfMeasurement" name="uomUnitOfMeasurement" [(ngModel)]="uomUnitOfMeasurement" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUomModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUomIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="quotationDetail.uomId" [(ngModel)]="quotationDetail.uomId" type="text" hidden>

                    <div class="form-group">
                        <label for="QuotationDetail_Description">{{l("Description")}} *</label>
                        <input type="text" id="QuotationDetail_Description" class="form-control" [(ngModel)]="quotationDetail.description" name="Description" required />
                    </div>

                    <div class="form-group">
                        <label for="QuotationDetail_Quantity">{{l("Quantity")}} *</label>
                        <input type="number" id="QuotationDetail_Quantity" class="form-control" [(ngModel)]="quotationDetail.quantity" name="Quantity" required min="0" (focusout)="calculateAmount()" />
                    </div>

                    <div class="form-group">
                        <label for="QuotationDetail_UnitPrice">{{l("UnitPrice")}} *</label>
                        <input type="number" id="QuotationDetail_UnitPrice" class="form-control" [(ngModel)]="quotationDetail.unitPrice" name="UnitPrice" required min="0" (focusout)="calculateAmount()" />
                    </div>

                    <div class="form-group">
                        <label for="QuotationDetail_MarkUp">{{l("MarkUp")}} in (%)</label>
                        <input type="number" id="QuotationDetail_MarkUp" class="form-control" [(ngModel)]="quotationDetail.markUp" name="MarkUp" min="0" (focusout)="calculateAmount()" />
                    </div>

                    <div class="form-group">
                        <label for="QuotationDetail_Cost">{{l("Cost")}}</label>
                        <input type="number" id="QuotationDetail_Cost" class="form-control" [(ngModel)]="quotationDetail.cost" name="Cost" required min="0" disabled />
                    </div>

                    <div class="form-group">
                        <label for="QuotationDetail_Discount">{{l("Discount")}} in (%)</label>
                        <input type="number" id="QuotationDetail_Discount" class="form-control" [(ngModel)]="quotationDetail.discount" name="Discount" min="0" (focusout)="calculateAmount()" />
                    </div>

                    <!--<div class="form-group">
                        <label for="QuotationDetail_Tax">{{l("Tax")}} in (%) *</label>
                        <input type="number" id="QuotationDetail_Tax" class="form-control" [(ngModel)]="quotationDetail.tax" name="Tax" required min="0" (focusout)="calculateAmount()" />
                    </div>-->

                    <br /><div class="m-checkbox-list">
                        <label for="QuotationDetail_IsTaxable" class="kt-checkbox">
                            <input id="QuotationDetail_IsTaxable" type="checkbox" name="IsTaxable" [(ngModel)]="quotationDetail.isTaxable" (change)="calculateAmount()">
                            {{l("IsTaxable")}}
                            <span></span>
                        </label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="QuotationDetail_Charge">{{l("Charge")}} </label>
                        <input type="number" id="QuotationDetail_Charge" class="form-control" [(ngModel)]="quotationDetail.charge" name="Charge" required min="0" disabled />
                    </div>



                    <br /><div class="m-checkbox-list">
                        <label for="QuotationDetail_IsChargeable" class="kt-checkbox">
                            <input id="QuotationDetail_IsChargeable" type="checkbox" name="IsChargeable" [(ngModel)]="quotationDetail.isChargeable">
                            {{l("IsChargeable")}}
                            <span></span>
                        </label>
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="QuotationDetail_IsAdHoc" class="kt-checkbox">
                            <input id="QuotationDetail_IsAdHoc" type="checkbox" name="IsAdHoc" [(ngModel)]="quotationDetail.isAdHoc">
                            {{l("IsAdHoc")}}
                            <span></span>
                        </label>
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="QuotationDetail_IsStandbyReplacementUnit" class="kt-checkbox">
                            <input id="QuotationDetail_IsStandbyReplacementUnit" type="checkbox" name="IsStandbyReplacementUnit" [(ngModel)]="quotationDetail.isStandbyReplacementUnit">
                            {{l("IsStandbyReplacementUnit")}}
                            <span></span>
                        </label>
                    </div>

                    <br /><div class="m-checkbox-list">
                        <label for="QuotationDetail_IsOptionalItem" class="kt-checkbox">
                            <input id="QuotationDetail_IsOptionalItem" type="checkbox" name="IsOptionalItem" [(ngModel)]="quotationDetail.isOptionalItem">
                            {{l("IsOptionalItem")}}
                            <span></span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="QuotationDetail_Remark">{{l("Remark")}}</label>
                        <input type="text" id="QuotationDetail_Remark" class="form-control" [(ngModel)]="quotationDetail.remark" name="Remark" />
                    </div>

                    <!--<div class="form-group">
                        <label for="QuotationDetail_Loc8GUID">{{l("Loc8GUID")}}</label>
                        <input type="text" id="QuotationDetail_Loc8GUID" class="form-control" [(ngModel)]="quotationDetail.loc8GUID" name="Loc8GUID" />
                    </div>-->

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!quotationDetailForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <uomLookupTableModal #uomLookupTableModal (modalSave)="getNewUomId()"></uomLookupTableModal>
    <itemTypeLookupTableModal #itemTypeLookupTableModal (modalSave)="getNewItemTypeId()"></itemTypeLookupTableModal>
    <!--<quotationDetailAssetLookupTableModal #quotationDetailAssetLookupTableModal (modalSave)="getNewAssetId()"></quotationDetailAssetLookupTableModal>-->
    <!--<quotationDetailAssetClassLookupTableModal #quotationDetailAssetClassLookupTableModal (modalSave)="getNewAssetClassId()"></quotationDetailAssetClassLookupTableModal>-->
    <!--<quotationDetailSupportTypeLookupTableModal #quotationDetailSupportTypeLookupTableModal (modalSave)="getNewSupportTypeId()"></quotationDetailSupportTypeLookupTableModal>-->
    <!--<quotationDetailQuotationLookupTableModal #quotationDetailQuotationLookupTableModal (modalSave)="getNewQuotationId()"></quotationDetailQuotationLookupTableModal>-->
    <!--<quotationDetailSupportItemLookupTableModal #quotationDetailSupportItemLookupTableModal (modalSave)="getNewSupportItemId()"></quotationDetailSupportItemLookupTableModal>-->
    <!--<quotationDetailWorkOrderLookupTableModal #quotationDetailWorkOrderLookupTableModal (modalSave)="getNewWorkOrderId()"></quotationDetailWorkOrderLookupTableModal>-->

</div>
