<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contactForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="contact.id">{{l("EditContact")}}</span>
                        <span *ngIf="!contact.id">{{l("CreateNewContact")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="contact.userId" [(ngModel)]="contact.userId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="VendorName">{{l("Vendor")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="VendorName" name="vendorName" [(ngModel)]="vendorName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectVendorModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setVendorIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="contact.vendorId" [(ngModel)]="contact.vendorId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="AssetOwnerName">{{l("AssetOwner")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AssetOwnerName" name="assetOwnerName" [(ngModel)]="assetOwnerName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAssetOwnerModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssetOwnerIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="contact.assetOwnerId" [(ngModel)]="contact.assetOwnerId" type="text" hidden>

                    <div class="form-group m-form__group">
                        <label for="CustomerName">{{l("Customer")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="CustomerName" name="customerName" [(ngModel)]="customerName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectCustomerModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setCustomerIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="contact.customerId" [(ngModel)]="contact.customerId" type="text" hidden>


                    <br /><div class="m-checkbox-list">
                        <label for="Contact_HeadOfficeContact" class="kt-checkbox">
                            <input id="Contact_HeadOfficeContact" type="checkbox" name="HeadOfficeContact" [(ngModel)]="contact.headOfficeContact">
                            {{l("HeadOfficeContact")}}
                            <span></span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Contact_ContactName">{{l("ContactName")}}</label>
                        <input type="text" id="Contact_ContactName" class="form-control" [(ngModel)]="contact.contactName" name="ContactName" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_PhoneOffice">{{l("PhoneOffice")}}</label>
                        <input type="text" id="Contact_PhoneOffice" class="form-control" [(ngModel)]="contact.phoneOffice" name="PhoneOffice" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_PhoneMobile">{{l("PhoneMobile")}}</label>
                        <input type="text" id="Contact_PhoneMobile" class="form-control" [(ngModel)]="contact.phoneMobile" name="PhoneMobile" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_Fax">{{l("Fax")}}</label>
                        <input type="text" id="Contact_Fax" class="form-control" [(ngModel)]="contact.fax" name="Fax" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_EmailAddress">{{l("Address")}}</label>
                        <input type="text" id="Contact_Address" class="form-control" [(ngModel)]="contact.address" name="Address" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_EmailAddress">{{l("EmailAddress")}}</label>
                        <input type="text" id="Contact_EmailAddress" class="form-control" [(ngModel)]="contact.emailAddress" name="EmailAddress" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_Position">{{l("Position")}}</label>
                        <input type="text" id="Contact_Position" class="form-control" [(ngModel)]="contact.position" name="Position" />
                    </div>

                    <div class="form-group">
                        <label for="Contact_Department">{{l("Department")}}</label>
                        <input type="text" id="Contact_Department" class="form-control" [(ngModel)]="contact.department" name="Department" />
                    </div>

                    <!--<div class="form-group">
                        <label for="Contact_ContactLoc8GUID">{{l("ContactLoc8GUID")}}</label>
                        <input type="text" id="Contact_ContactLoc8GUID" class="form-control" [(ngModel)]="contact.contactLoc8GUID" name="ContactLoc8GUID" />
                    </div>-->


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!contactForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<contactUserLookupTableModal #contactUserLookupTableModal (modalSave)="getNewUserId()"></contactUserLookupTableModal>
		 <contactVendorLookupTableModal #contactVendorLookupTableModal (modalSave)="getNewVendorId()"></contactVendorLookupTableModal>
		 <contactAssetOwnerLookupTableModal #contactAssetOwnerLookupTableModal (modalSave)="getNewAssetOwnerId()"></contactAssetOwnerLookupTableModal>
		 <contactCustomerLookupTableModal #contactCustomerLookupTableModal (modalSave)="getNewCustomerId()"></contactCustomerLookupTableModal>
		 
</div>