<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Title")}} :</h6>
                        {{ item.rfq.title }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RequestDate")}} :</h6>
                        {{ item.rfq.requestDate | momentFormat:'ll LT' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RequiredBy")}} :</h6>
                        {{ item.rfq.requiredBy | momentFormat:'ll LT' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.rfq.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Requirements")}} :</h6>
                        {{ item.rfq.requirements }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("RfqType")}}) {{l("Type")}} :</h6>
                        {{item.rfqTypeType}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("AssetOwner")}}) {{l("Name")}} :</h6>
                        {{item.assetOwnerName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Customer")}}) {{l("Name")}} :</h6>
                        {{item.customerName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("AssetClass")}}) {{l("Class")}} :</h6>
                        {{item.assetClassClass}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Incident")}}) {{l("Description")}} :</h6>
                        {{item.incidentDescription}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Vendor")}}) {{l("Name")}} :</h6>
                        {{item.vendorName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("User")}}) {{l("Name")}} :</h6>
                        {{item.userName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
